
@{
    Layout = "~/Views/Shared/_Main.cshtml";
}
<div class="content container">
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h2 class="page-title">Импорт<small>из Excel</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <section class="widget">
                <div class="body">
                    <form id="fileupload" action="/Admin/ImportFromExcel" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="dropzone" class="dropzone">
                                    Drop files here
                                    <i class="fa fa-download-alt pull-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 fileupload-progress fade">

                                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="bar" style="width:0%;"></div>
                                </div>

                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <h1>       Товар успешно добавлен</h1>
                        <div class="form-actions fileupload-buttonbar no-margin">
                            <span class="btn btn-sm btn-default fileinput-button">
                                <i class="fa fa-plus"></i>
                                <span>Добавьте файл</span>
                                <input type="file" name="upload" multiple="">
                            </span>
                            <input type="submit" value="Начать загрузку" class="btn btn-primary btn-sm start">
                            @*<i class="fa fa-upload"></i>
                                @*<span>Start upload</span>*@

                            <button type="reset" class="btn btn-inverse btn-sm cancel">
                                <i class="fa fa-ban"></i>
                                <span>Cancel upload</span>
                            </button>
                        </div>
                        <div class="fileupload-loading"><i class="fa fa-spin fa-spinner"></i></div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <div class="loader-wrap hiding hide">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
<script src="~/Library/fileupload.js"></script>

<script id="template-upload" type="text/template">
    { for (var i=0, file; file=o.files[i]; i++) { }
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
        <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
        <td>
            <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="bar" style="width:0%;"></div>
            </div>
        </td>
        <td>
            {% if (!o.options.autoUpload) { %}
            <button class="btn btn-primary btn-sm start">
                <i class="fa fa-upload"></i>
                <span>Start</span>
            </button>
            {% } %}
        </td>
        {% } else { %}
        <td colspan="2"></td>
        {% } %}
        <td>
            {% if (!i) { %}
            <button class="btn btn-warning btn-sm cancel">
                <i class="fa fa-ban"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>