
@{
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div>
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h2 class="page-title">Отправить клиентам в телеграм<small></small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <section class="widget">
                <header>
                    <h4><i class="fa fa-file-alt"></i>Рассылка  <small>всем пользователям магазина</small></h4>
                </header>
                <div class="body">
                    <form action="/Admin/ToAll" class="form-horizontal" method="post" id="x" novalidate="novalidate" data-validate="parsley">
                        <fieldset>
                            <div class="control-group">
                                <label for="description" class="control-label text-center">Текст сообщения</label>
                                <div class="controls form-group">
                                    <textarea id="description" rows="5" cols="4" name="text" class="form-control"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success">Отправить</button>
                        </div>
                    </form>
                      <p>Сообщения успешно отправлены</p>
                </div>
            </section>
        </div>
    </div>
</div>

